:root{
    --color_backgroundtheme1:#202161d8;
    --colortexttheme1:#ffffff;

    --colorbuton:#393cd3a6;
    --colortext:#ffffff;

    --colorbutonhober: #3b77e77a;

    --tableheader:#13143d7a;
    --tableitemover:#316ad4;

    --boxshadowcolor:#0d0d2ead;
}